<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSCB20 - Grades</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <input type="checkbox" id="dark-mode-toggle" hidden>
  
  <div class="wrapper">
    <header>
      <h1>CSCB20 - Web Development</h1>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="Dummy.pdf" target="_blank">Syllabus</a></li>
          <li class="dropdown">
            <a href="#">Assignments ▼</a>
            <ul class="dropdown-content">
              <li><a href="{{ url_for('assignment1') }}">Assignment 1</a></li>
              <li><a href="{{ url_for('assignment2') }}">Assignment 2</a></li>
              <li><a href="{{ url_for('assignment3') }}">Assignment 3</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('lab') }}">Labs</a></li>
          <li><a href="{{ url_for('lecture_note') }}">Lecture Notes</a></li>
          <li><a href="https://piazza.com/" target="_blank">Piazza</a></li>
          <li><a href="https://markus2.utsc.utoronto.ca/" target="_blank">MarkUs</a></li>
          <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
          <li><a href="{{ url_for('course_team') }}">Course Team</a></li>
          <li><label for="dark-mode-toggle" class="toggle-btn">Toggle Dark Mode</label></li>
        </ul>
      </nav>
    </header>

    <div class="content-wrapper">
      <h1 class="title">Enter Student Grades</h1>
      <div class="gradesForm">
        <form action="{{ url_for('addGrades') }}" method="POST">
          <label for="student_id">Student ID:</label>
          <input type="text" id="student_id" name="student_id">
  
          <label for="work">Work:</label>
          <input type="text" id="work" name="work">
  
          <label for="grade">Grade:</label>
          <input type="number" id="grade" name="grade">
  
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

<footer>
  <a href="{{ url_for('grade') }}">Return to grade viewing page</a>
</footer>

